@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 762px;
    background-size: cover;
    background-repeat: no-repeat;  
    width: 95vw;
    height: 10vh;
    margin: auto;
}
header{
    background-color: rgb(90, 134, 101);
    color: white;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.849);
    border-radius: 10px;
    text-align: center;
}
main{
    background-color: rgba(190, 211, 195, 0.11);
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.849);
    border: 20px;
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(20px); 
    font-size: 0.8em;
}
#title-bills{
    margin:-10px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(118, 185, 135, 0.555);
    text-align: center;
} 

.bills{
    
    background-color: lightblue;
    border: 2px solid red;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    
}
.bills div{
background-color: aquamarine;
padding: 5px;
border: 1px solid blue;
}

.res{
    background-color: lightblue;
    border: 2px solid red;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
}
.res div{
    background-color: aquamarine;
    padding: 5px;
    border: 1px solid blue;
}

.supermarket{
    background-color: lightgray;
    border: 2px solid red;
    padding: 10px;
    display: grid;
    grid-template-columns: 30% 25% auto auto;
}

.supermarket div{
    background-color: aquamarine;
    padding: 5px;
    border: 1px solid blue;
}


#title-supermarket{
    margin: 20px 0px 10px 0px;
    padding: 10px;
    background-color: rgba(118, 185, 135, 0.555);
    text-align: center;
}

main input{
    width: 60px;
}


