@charset "UTF-8";


body{
    background-image: url(../images/pexels-andre-moura-2635817.jpg);
    font-family: Arial, Helvetica, sans-serif;
    height: 762px;
    background-size: cover;
    background-repeat: no-repeat;  
    width: 95vw;
    height: 150vh;
    color: white;
}
header{
    background-color: rgb(90, 134, 101);
    color: white;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.849);
    border-radius: 10px;
    text-align: center;
}
main{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.11);
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.849);
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(20px); 
    font-size: 1em;
}
#title-bills{
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(118, 185, 135, 0.555);
    text-align: center;
} 
.fixed-bills{
    margin: -10px 0px 10px 0px;
    box-shadow: 2px 10px 10px black;
    background-color: rgba(255, 255, 255, 0.127);
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center ;
    
}
.fixed-bills{
    margin-top: 0px;
    padding: 10px 5px 10px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.fixed-bills div{
/*background-color: aquamarine;*/
padding: 10px;
border: 1px solid rgb(255, 255, 255);
}
#title-individual-bills{
    margin: 10px 0px 10px 0px;
    padding: 10px;
    background-color: rgba(118, 185, 135, 0.555);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
} 
.individual-bills{
    margin: -10px 0px 10px 0px;
    box-shadow: 2px 10px 10px black;
    background-color: rgba(255, 255, 255, 0.127);
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 15% auto auto;
    text-align: center;
}
.individual-bills div{
    /*background-color: aquamarine;*/
    line-height: 28px;
    padding: 5px;
    border: 1px solid rgb(252, 252, 252);
}
#nos{
    line-height: 228px;
    grid-row-start: 1;
    grid-row-end: 7;
    
}
#spotify{
    line-height: 80px;
    
}
#spotify-discription{
    text-align: justify;
    font-size: 0.8em;
    grid-column-start: 2;
    grid-column-end: 4;
}
p{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-style: italic;
    font-size: 0.7em;
}
.res{
    /*background-color: lightblue;
    border: 2px solid red;*/
    padding: 0px 10px 0px 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
.res div{
   /* background-color: aquamarine;*/
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
}
.title-supermarket{
    margin: 10px 0px 10px 0px;
    padding: 10px;
    background-color: rgba(118, 185, 135, 0.555);
    
    text-align: center;

    display: grid;
    grid-template-columns: 10% auto 10%;

}
.supermarket{
    /*background-color: lightgray;
    border: 2px solid red;*/
    padding: 0px 10px 0px 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
.supermarket div{
    /*background-color: aquamarine;*/
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
}
.material-symbols-outlined{
    font-size: 0.5em;
    color: rgb(252, 252, 252);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.497);
    background-color: rgba(118, 185, 135, 0);    
}
.material-symbols-outlined:hover{
    text-shadow: 0px 0px 10px rgba(252, 252, 252, 0.347);
    
}
footer{
    margin: 10px -10px -10px -10px;
    padding: 10px;
    font-size: 0.6em;
    text-align: center;
    color: white;
    background-color: rgba(118, 185, 135, 0.555);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}





